<nav>
    <div class="nav-wrapper">
      <div class="center">
        {% for page in breadcrumbs | reverse %}
        <a href={{page}} class="breadcrumb">{{page}}</a>
        {% endfor %}
      </div>
    </div>
</nav>
