<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title}}</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="../style/css/materialize.css" rel="stylesheet" type="text/css" media="screen,projection"/>
    </head>
    <body>

        <div class="container">
            {% include "templates/header.njk" %}
            {% include "templates/breadcrumbs.njk" %}
            {% block content %}{% endblock %}
            {% include "templates/footer.njk" %}
        </div>

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="../style/js/bin/materialize.min.js"></script>
        <script src="../js/cookies.js"></script>
    </body>
</html>
